img{
    padding: 2%;
}

.display-5{
    
    padding-top: 2%;
    
    
}

div {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
  padding: 20px;
}

/* Modo oscuro */
div.dark-mode {
  background-color: #1a1a1a;
  color: white;
}