body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

/* Estilo para modo oscuro */
body.dark-mode {
    background-color: #1a1a1a;
    color: white;
}