header {
        background-color: #212529; /* bg-dark */
        color: white;
        padding: 1rem;
        font-weight: bold;
        position: fixed;
        top: 0; left: 0; right: 0;
        height: 60px;
        z-index: 1030;
    }

    .naveta {
        position: fixed;
        top: 60px; 
        left: 0;
        width: 200px;
        height: calc(100vh - 60px); 
        background-color: #343a40; 
        padding-top: 1rem;
    }
    .naveta a {
        display: block;
        color: white;
        padding: 12px 20px;
        text-decoration: none;
    }
    .naveta a:hover {
        background-color: #0dcaf0; 
        color: #000;
    }

